In [1]:
c = 0

In [2]:
type(c)

int

In [3]:
c= 5/2

In [4]:
c

2.5

In [5]:
type(c)

float

In [6]:
c ='e'

In [7]:
type(c)

str

In [8]:
c =78.34
type(c)

float

In [9]:
s = 'apssdc'
type(s)

str

In [11]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [12]:
name, rollno, age = 'apssdc', 507, 56.4

In [13]:
print(name)
print(rollno)
print(age)

apssdc
507
56.4

In [14]:
a,b=10,20

In [15]:
print(a,b)
a,b =b,a
print(a,b)

10 20
20 10

In [16]:
name = 'jfjkv'

In [17]:
name

'jfjkv'

In [18]:
_name = 'sdhgfdsj'

In [19]:
_name

'sdhgfdsj'

In [20]:
5jhfj = 'fh'

SyntaxError: invalid syntax (<ipython-input-20-d62cbb0aa85f>, line 1)

In [21]:
$fgf = 98

SyntaxError: invalid syntax (<ipython-input-21-fb2f0029a924>, line 1)

In [22]:
first name = 'apssdc'

SyntaxError: invalid syntax (<ipython-input-22-97c87989a48c>, line 1)

In [23]:
first_name= 'apssdc'

In [24]:
first_name

'apssdc'

In [25]:
5/2

2.5

In [27]:
5//2

2

In [28]:
2**3

8

In [29]:
pow(2,3)

8

In [30]:
2&3
# 2--> 0010
# 3 -->0011
#-----------
#      0010 --2

2

In [32]:
3&4
#3-->0011
#4-->0100
#    0000--0

0

In [33]:
2|3

3

In [34]:
2 < 6

True

In [35]:
5 > 9

False

In [36]:
2<2

False

In [37]:
2<=2

True

In [38]:
2>=2

True

In [39]:
2==5

False

In [40]:
4==4

True

In [41]:
2!=7

True

In [42]:
2!=2

False

In [43]:
(2<6) and (5>8)

False

In [44]:
4>6 and 4<7

False

In [45]:
3<6 or 7<8

True

In [46]:
4<3 or 5>2

True

In [47]:
6<8

True

In [48]:
not 6<8

False

In [49]:
2<<1
# 2-->0010-->0100

4

In [50]:
2>>1
# 2-0010-0001

1

In [51]:
8<<1
# 8-1000->0001 0000

16

In [52]:
2>>2
# 2->0010-->0000

0

In [53]:
8>>2

2

# Header1
## Header2
### Header3
###### Header6

# Operators
- AO
    - add
        - srhg
        - dufhg
    - sub
    - mul
    - div
- RO
- LO
- BO

In [55]:
a = 10
a += 1
a

11

In [56]:
a += 2
a

13

In [57]:
a -= 3
a

10

In [58]:
a = a - 3

In [60]:
ar = [1,2,3,34,5,6,7,8]
n = 55
n in ar

False

In [62]:
3 not in ar

False

In [63]:
4 is 4

True

In [64]:
id(4)

140718335300512

In [65]:
'abc' is 'abc'

True

In [66]:
5 is not 5

False

In [68]:
n = input("Enter a value:")
print(n,type(n))

Enter a value:45
45 <class 'str'>

In [70]:
n = int(input())
print(n,type(n))

56
56 <class 'int'>

In [71]:
n = float(input())
print(n,type(n))

56.98
56.98 <class 'float'>

In [72]:
num1 = int(input())
num2 = int(input())
print(num1 + num2)

45
55
100

In [79]:
if(3<6):
    print("True")
    print(" i am in if block")

print("i am outside of if block")

True
 i am in if block
i am outside of if block

In [81]:
if(6>8):
    print("True")
else:
    print("False")

False

In [82]:
if(5<6):
    if(6<7):
        print("7 is big")
    else:
        print("6 is big")
else:
    print("5 is big")

7 is big

In [83]:
if 5<4:
    print(" i am in if block")
elif(4<7):
    print("i am in elif block")
else:
    print("i am in else block")

i am in elif block

In [84]:
range(10)

range(0, 10)

In [85]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [87]:
for val in range(10):
    print(val,end =',')

0,1,2,3,4,5,6,7,8,9,

In [88]:
for val in range(2,10):
    print(val,end=' ')

2 3 4 5 6 7 8 9

In [91]:
for val in range(0,10,2):
    print(val,end=' ')

0 2 4 6 8